$grey-very-dark: #382f2f;
$grey-dark: #939393;
$grey-medium: #d6cdcd;
$grey-light: #e0e0e0;
$grey-very-light: #f2f2f2;

$white: rgb(255 255 255);
$black: rgb(15 1 1);

// colour options
$red: #d62e2e;
$purple: #bd18b5;
$pink: #ff17f3;

$accent: $red;
$accent-alt: #f09898;

$foreground: $black;
$background: $grey-very-light;
$background-secondary: $white;
